[package]
name = "structural_derive"
version = "0.1.0"
authors = ["rodrimati1992 <rodrimatt1985@gmail.com>"]
edition = "2018"
description="Derives for manipulating struct fields."

[dependencies]

[lib]
proc-macro = false