[package]
name = "structural"
version = "0.2.2"
authors = ["rodrimati1992 <rodrimatt1985@gmail.com>"]
edition = "2018"
license = "MIT/Apache-2.0"
description="Abstractions over fields."
documentation = "https://docs.rs/structural/"
readme="../readme.md"
keywords = ["data-structures"]
categories = ["data-structures","rust-patterns"]
repository = "https://github.com/rodrimati1992/structural_crates/"
include = [
    "Cargo.toml", 
    "src/**/*.rs", 
    "../readme.md",
    "../APACHE_license", 
    "../MIT_license"
]

[badges]
travis-ci = { repository =  "rodrimati1992/structural_crates/" }

[features]
default = ["std"]
std=["alloc"]
alloc=["core_extensions/alloc"]
rust_1_36=[]
rust_1_40=["better_macros"]

# An internal cargo feature,used by tests
testing=["structural_derive/test_asserts"]

specialization=[]
nightly_specialization=["specialization"]

better_macros=[]
nightly_better_macros=["better_macros"]

impl_fields=["structural_derive/impl_fields"]
nightly_impl_fields=["impl_fields"]


[dependencies]
structural_derive={version="0.2.1",path="../structural_derive"}

[dependencies.core_extensions]
version="0.1.13"
default_features=false
features=["colltraits"]


[build-dependencies]
rustc_version = "0.2"
